.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.accordion {
    display: flex;
    flex-direction: column;
    width: 1550px;
}
.boxTitle h4{
    font-size: 1.5rem;
}
.boxCorrect{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
} 
.boxCorrect h4 {
    margin-top: -25px;
    margin-bottom: 38px;
}
.item {
    padding: 10px;
    background: #f0ebe1;
    margin-bottom: 5px;
    padding: 10px 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
    margin-top: 10px;
    border-radius: 8px;
}
.boxing{
    width: 500px;
    margin: 30px;
}
.boxing h2 {
    font-size: 1.2rem;
}
.boxTable h2{
    font-size: 1.2rem;
}
.ocultBar h2{
    font-size: 1.2rem;
}
.table {
    width: 600px!important;
}
.iconImage{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: green;
}

button{
    margin-right: -200px!important;
}
.item .img {
    margin-top: 20px;
    width: 150px;
    height: 60px;
}
.title {
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content {
    color: #8b7f75;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}

.content.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}
.boxTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.boxing span{
    width: 10px;
    height: 10px;
    padding: 5px;
}